<h2>
You think the story is finished? Great! Give it a name and add it to the story archive.
</h2>
<%= render 'add_title' %>

<p id="notice"><%= notice %></p>

<p>
  <%= @story.content %>
</p>
<%= link_to 'Back', stories_path %>



