
<ol>
<% @stories.each do |story| %>
  <li>
    <%= story.content %>
    <%= link_to 'Geschichte schreiben', story %>
  </li>
<% end %>
</ol>

<br />

<%= link_to 'Neue Geschichte beginnen', new_story_path, class: "start-new-story" %>
