
.start-new-story {
	background-color: #3DBBDA;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	padding: .5em 1.5em;
	font-family: Verdana;

	&:hover {
		background-color: #30a7c4;
		
	}

}

textarea {
	width: 90%;
	border-radius: 8px;
	height: 70px;
	font-family: "Helvetica Neue";
	font-size: 1em;
	font-weight: 300;
	padding: 5px;


}